// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@300;500;700&display=swap');

.single-petition {
    --featured-font-family: "Oswald";
    --secondary-font-family: "Open Sans";
    --primary-color: #EB2F06;
    --accent-color: #26A17A;
    --over-accent-color: white;

    font-size: 16px;

    .petition {
        &--header {
            &.empty-content.has-thumbnail {
                position: relative;
                .featured-image { 
                    &, & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                    }
                }
            }

            .featured-image {
                &,
                & img {
                    width: 100%;
                }
            }
        }

        &--content {
            width: 1200px;
            max-width: 90%;
            margin: 0 auto;
            position: relative;
            margin-top: -65px;

            .language-selector {
                display: flex;
                justify-content: flex-end;

                select#petition-language-selector {
                    border-radius: 6px;
                    background: white;
                    font-weight: bold;
                    font-size: 1em;
                    height: 36px;
                    width: 204px;
                    border: 2px solid #DDDDDD;
                    border-radius: 10px;
                    padding: 0 8px;
                    font-family: var(--secondary-font-family);
                }
            }

            &.empty-content {
                margin-top: 0;

                .content-wrapper {
                    grid-template-columns: 1fr;
                    margin-top: 35px;
                
                    .sidebar {
                        width: 54%;
                        margin: 0 auto;
                    }
                }

                .language-selector {
                    justify-content: center;
                    z-index: 1;
                    position: relative;
                }

                &.no-thumb {
                    .content-wrapper {
                        margin-top: -20px;
                    }
                }

                &.has-thumbnail {
                    .language-selector {
                        justify-content: center;
                        margin-top: -65px;
                        padding-top: 65px;
                    }
                }
            }

            &.has-content {
                &.no-thumb {
                    margin-top: 20px;

                    .language-selector {
                        position: absolute;
                        right: 0;
                    }
                }
            }

            .content-wrapper {
                display: grid;
                grid-template-columns: 1.65fr 3fr;
                grid-column-gap: 30px;

                .sidebar {
                    .petition-block {
                        background: #F5F5F5;
                        padding: 30px;
                        margin-bottom: 65px;

                        .signatures-information {
                            .signatures-count {
                                .quantity {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    text-transform: uppercase;
                                    margin-bottom: 30px;

                                    span {
                                        font-family: var(--featured-font-family);
                                        line-height: 1.875em;
                                        font-weight: bold;

                                        &:first-child {
                                            font-size: 2.5em;
                                        }

                                        &:last-child {
                                            color: var(--primary-color);
                                            font-size: 1.25em;
                                            text-align: center;
                                            letter-spacing: 4px;
                                        }
                                    }
                                }

                                .join {
                                    font-family: var(--featured-font-family);
                                    font-weight: 700;
                                    font-size: 1.125em;
                                    text-align: center;
                                    letter-spacing: 1px;
                                    margin-bottom: 30px;
                                }

                                .progress {
                                    font-family: var(--featured-font-family);
                                    margin-bottom: 30px;

                                    .progress-bar {
                                        background: #E7E8EA;
                                        height: 20px;
                                        border-radius: 20px;
                                        overflow: hidden;
                                        position: relative;
                                        margin-bottom: 5px;

                                        .progressed-area {
                                            background-color: var(--accent-color);
                                            border-radius: 20px;
                                            height: inherit;
                                        }

                                        .progress-info {
                                            width: 100%;
                                            position: absolute;
                                            top: -1.2px;
                                            display: flex;
                                            justify-content: space-between;
                                            font-size: 0.875em;
                                            font-weight: bold;
                                            padding: 0 8px;

                                            span {
                                                &:first-child {
                                                    color: var(--over-accent-color)
                                                }

                                                &:last-child {
                                                    color: #858583;
                                                }
                                            }
                                        }
                                    }

                                    .progress-helper {
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 0 8px;
                                        font-size: 0.875em;
                                        text-transform: uppercase;
                                        font-weight: bold;

                                        span {
                                            &:first-child {
                                                color: var(--accent-color);
                                            }

                                            &:last-child {
                                                color: var(--primary-color);
                                            }
                                        }
                                    }
                                }
                            }

                            .signatures-history {
                                font-family: var(--featured-font-family);
                                font-weight: bold;
                                font-size: 0.87em;
                                text-transform: uppercase;
                                padding-bottom: 25px;
                                border-bottom: 1px solid #0B0B07;
                                margin-bottom: 30px;

                                .user-signature {
                                    color: #0B0B07;
                                    opacity: 0.5;
                                    // display: flex;

                                    &:not(:last-child) {
                                        margin-bottom: 15px;
                                    }

                                    svg {
                                        width: 10px;
                                        margin-right: 4px;
                                    }
                                }
                            }

                            .petition-form {
                                margin-bottom: 20px;

                                input[hidden] {
                                    display: none;
                                }

                                input[type=text],
                                input[type=email],
                                select {
                                    width: 100%;
                                    border-radius: 6px;
                                    background: white;
                                    font-weight: bold;
                                    font-size: 1em;
                                    border: 2px solid #DDDDDD;
                                    border-radius: 10px;
                                    padding: 4px 8px;
                                    font-family: var(--secondary-font-family);
                                    margin-bottom: 8px;

                                    &::placeholder {
                                        color: grey;
                                    }
                                }

                                label {
                                    margin: 0;
                                }

                                select {
                                    margin-bottom: 20px;
                                }
                                

                                fieldset {
                                    border: 0px;
                                    padding: 0;
                                    margin-bottom: 30px;

                                    >div {
                                        display: flex;
                                        align-items: center;
                                        font-family: var(--secondary-font-family);
                                        font-weight: 100;
                                        margin-bottom: 10px;

                                        input {
                                            margin-right: 5px;
                                        }

                                        label {
                                            a {
                                                text-decoration: underline;
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }

                                button {
                                    transition: background 150ms ease-in-out;
                                    background: var(--primary-color);
                                    font-family: var(--featured-font-family);
                                    border: none;
                                    border-radius: 5px;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    color: #fff;
                                    font-size: 1.25em;
                                    font-weight: 700;
                                    line-height: 1.2;
                                    outline: none;
                                    padding: 0.76rem 1rem;
                                    text-decoration: none;
                                    vertical-align: bottom;
                                    text-transform: none;
                                    width: 100%;
                                }

                                .success-message, .repeated-signature-message {
                                    text-align: center;
                                    font-family: var(--featured-font-family);
                                    font-weight: bold;
                                }

                                .loading-area, .success-message, .repeated-signature-message {
                                    display: none;
                                }


                            }
                        }
                    }

                    &-content {
                        .share-petition {
                            border-top: 5px solid var(--accent-color);
                            background-color: #F5F5F5;
                            padding: 37px 10px;
                            margin-bottom: 30px;

                            &--title {
                                color: var(--accent-color);
                                text-align: center;
                                text-transform: uppercase;
                                font-size: 1.25rem;
                                margin-bottom: 30px;
                                font-family: var(--featured-font-family);
                            }

                            &--content {
                                font-family: var(--secondary-font-family);
                                text-align: center;
                                margin-bottom: 30px ;
                                line-height: 22px;
                                padding: 0 15px;

                                p {
                                    font-size: 16px;
                                }
                            }

                            &--networks {
                                display: flex;
                                justify-content: center;

                                & div {
                                    &:not(:last-child) {
                                        margin-right: 40px;
                                    }

                                    a {
                                        width: 90px;
                                        height: 90px;
                                        font-size: 2rem;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 50%;
                                        transition: transform .2s ease-in-out;

                                        &:hover {
                                            transform: scale(1.07);
                                            transition: transform .2s ease-in-out;
                                            font-weight: normal;

                                        }

                                        i {
                                            color: white;
                                        }
                                    }


                                    &.facebook a{
                                        background-color: #0E66AC;
                                    }


                                    &.twitter a{
                                        background-color: #4EA5EB;
                                    }


                                    
                                }
                            }
                        }
                    }
                }


                .post-content {
                    padding-top: 32px;
                }
            }

        }

        .hide {
            display: none!important;
        }
    }
}

.lds-ellipsis {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--primary-color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}